$font-color: #333;
$dark-fontColor: #000;
$content-notice-font-color: #777;
$bg-color: #f1f1f1;
$search-bg-color: #f5f5f5;
$search-font-color: #b7b7b7;
$font-white-color: #fff;
$font-light-color: #666;
$font-medium-color: #999;
$font-red-color: #e93b3b;
$bg-blue-color: #0091ff;
